.pet-card {
    position: relative;
    width: 400px;
    height: 500px;
    margin-top: 130px;
    margin: 100px 15px 30px 13px;
    background: #fbe365 url('path/to/image') 50% 70%/cover;
    border-radius: 25px;
    border: 5px solid #454645;
    pointer-events: auto;
    z-index: 3;
    transform: scale(0.9);
  }
  
  @media screen and (min-width: 320px) {
    .pet-card {
      margin: 100px -60px 30px 20px;
      transform: scale(0.6) translateX(-39%) translateY(-60%);
    }
  }
  
  @media screen and (min-width: 375px) {
    .pet-card {
      margin: 100px -70px 30px 20px;
      transform: scale(0.6) translateX(-29%) translateY(-60%);
    }
  }
  
  @media screen and (min-width: 425px) {
    .pet-card {
      margin: 100px -20px 30px 20px;
      transform: scale(0.6) translateX(-19%) translateY(-60%);
    }
  }
  
  @media screen and (min-width: 768px) {
    .pet-card {
      margin: 100px 70px 30px 20px;
      transform: scale(0.8) translateX(30%) translateY(-32%);
    }
  }
  
  @media screen and (min-width: 1024px) {
    .pet-card {
      margin: 70px -160px 30px 15px;
      transform: scale(0.6) translateX(-35%) translateY(-32%);
    }
  }
  
  @media screen and (min-width: 1440px) {
    .pet-card {
      margin: 70px -30px 30px 15px;
      transform: scale(0.8) translateX(-10%) translateY(5%);
    }
  }
  
  @media screen and (min-width: 1600px) {
    .pet-card {
      margin: 100px 15px 100px 10px;
      transform: scale(0.9);
    }
  }
  
  .pet-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    margin-top: 400px;
    border-radius: 0 0 20px 20px;
    background-color: #fbe365;
  }
  
  .pet-info-container span {
    margin-top: 25px;
    font-size: 2rem;
  }
  
  .pet-name {
    margin-bottom: 20px;
    font-weight: 700;
  }
  
  .pet-type {
    padding: 0 50px;
    margin-bottom: 15px;
    border-radius: 50px;
    border: 2px solid #454645;
    background-color: #f4f4f4;
  }
  