.pets-container {
  width: 100%;
  height: 500px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #f4f4f4;
}

.pets-statement-container {
  width: 100%;
  height: 100px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.pets-statement {
  width: 250px;
  font-size: 1.2rem;
  padding: 15px;
  /* background-color: #fbe365; */
  border-radius: 15px;
}

.pets-hero-container {
  /* background-color: gray; */
  width: 100%;
  height: 150px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.hero-statement {
  margin: 20px 70px;
  font-size: 2.5rem;
  font-weight: 400;
}

.shelter-highlight {
  background-color: #fbe365;
  padding: 0 6px;
  border-radius: 15px;
}

.paw-pets {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 75px;
  margin-top: 90px;
  transform: rotate(45deg) scale(1);
}

.pets-buttons-container {
  /* background-color: gray; */
  width: 100%;
  height: 150px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.facebook-button,
.twitter-button {
  display: flex;
  justify-content: center;
  margin: 50px 10px;
  background-color: #fbe365;
  padding: 15px;
  border-radius: 100px;
}

.facebook-button i,
.twitter-button i {
  font-size: 1.5rem;
}

.facebook-button a,
.twitter-button a {
  text-decoration: none;
  color: #454646;
}

.table-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  background-color: #fbe365;
  width: 100%;
  height: 600px;
  background-position: 50% 0;
}

.pet-cards-container {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #f4f4f4;
  border: 2px solid #454646;
  border-radius: 25px;
  margin-top: 125px;
  width: 80%;
  height: 350px;
}

@media screen and (min-width: 375px) {
  .pets-hero-container {
    width: 100%;
    height: 150px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .hero-statement {
    margin: 20px 90px;
    font-size: 2.5rem;
    font-weight: 400;
  }

  .paw-pets {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 75px;
    margin-top: 90px;
    transform: rotate(45deg) scale(1);
  }
}

@media screen and (min-width: 425px) {
  .pets-hero-container {
    width: 100%;
    height: 150px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .hero-statement {
    margin: 20px 110px;
    font-size: 2.5rem;
    font-weight: 400;
  }

  .paw-pets {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 75px;
    margin-top: 90px;
    transform: rotate(45deg) scale(1);
  }
}

@media screen and (min-width: 768px) {
  .pets-container {
    width: 100%;
    height: 680px;
    background-image: url("../../../../src/assets/img/pets-background1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #f4f4f4;
  }

  .pets-statement-container {
    width: 100%;
    height: 150px;
    margin-top: 160px;
    display: flex;
    justify-content: right;
  }

  .pets-statement {
    width: 400px;
    font-size: 1.4rem;
    margin-right: 10px;
    padding: 15px;
    /* background-color: #fbe365; */
    border-radius: 15px;
  }

  .pets-hero-container {
    /* background-color: gray; */
    width: 100%;
    height: 150px;
    margin-top: 20px;
    display: flex;
    justify-content: left;
  }

  .hero-statement {
    margin: 30px 50px;
    font-size: 5.5rem;
  }

  .shelter-highlight {
    background-color: #fbe365;
    padding: 0 6px;
    border-radius: 15px;
  }

  .paw-pets {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 595px;
    margin-top: 90px;
    transform: rotate(45deg) scale(1);
  }

  .pets-buttons-container {
    margin-top: 30px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
  }

  .facebook-button,
  .twitter-button {
    display: flex;
    justify-content: center;
    margin: 45px 15px;
    background-color: #fbe365;
    padding: 15px;
    border-radius: 100px;
  }

  .facebook-button i,
  .twitter-button i {
    font-size: 2rem;
  }

  .facebook-button a,
  .twitter-button a {
    text-decoration: none;
    color: #454646;
  }

  .table-container {
    position: absolute;
    display: flex;
    justify-content: space-around;
    background-color: #fbe365;
    width: 100%;
    height: 660px;
  }

  .pet-cards-container {
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    border: 2px solid #454646;
    border-radius: 25px;
    margin-top: 125px;
    width: 80%;
    height: 450px;
  }
}

@media screen and (min-width: 1024px) {
  .pets-container {
    width: 100%;
    height: 680px;
    background-image: url("../../../../src/assets/img/pets-background1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #f4f4f4;
  }

  .pets-statement-container {
    width: 100%;
    height: 150px;
    margin-top: 170px;
    display: flex;
    justify-content: right;
  }

  .pets-statement {
    width: 400px;
    font-size: 1.4rem;
    margin-right: 50px;
    padding: 15px;
    /* background-color: #fbe365; */
    border-radius: 15px;
  }

  .pets-hero-container {
    /* background-color: gray; */
    width: 100%;
    height: 150px;
    margin-top: 20px;
    display: flex;
    justify-content: left;
  }

  .hero-statement {
    margin: 30px 50px;
    font-size: 6.5rem;
  }

  .shelter-highlight {
    background-color: #fbe365;
    padding: 0 6px;
    border-radius: 15px;
  }

  .paw-pets {
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: 700px;
    margin-top: 110px;
    transform: rotate(45deg) scale(1);
  }

  .pets-buttons-container {
    margin-top: 30px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: right;
    margin-right: 100px;
  }

  .facebook-button,
  .twitter-button {
    display: flex;
    justify-content: center;
    margin: 45px 15px;
    background-color: #fbe365;
    padding: 15px;
    border-radius: 100px;
  }

  .twitter-button {
    margin-right: 80px;
  }

  .facebook-button i,
  .twitter-button i {
    font-size: 2rem;
  }

  .facebook-button a,
  .twitter-button a {
    text-decoration: none;
    color: #454646;
  }

  .table-container {
    position: absolute;
    display: flex;
    justify-content: space-around;
    background-color: #fbe365;
    width: 100%;
    height: 870px;
    background-position: 50% 0;
  }

  .pet-cards-container {
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    border: 2px solid #454646;
    border-radius: 25px;
    margin-top: 200px;
    margin-right: 10px;
    width: 80%;
    height: 450px;
  }
}

@media screen and (min-width: 1440px) {
  .pets-container {
    width: 100%;
    height: 800px;
    background-image: url("../../../../src/assets/img/pets-background1.svg");
    background-repeat: no-repeat;
    background-size: 100% 120%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #f4f4f4;
  }

  .pets-statement-container {
    width: 100%;
    height: 150px;
    margin-top: 190px;
    display: flex;
    justify-content: right;
  }

  .pets-statement {
    width: 400px;
    font-size: 1.7rem;
    margin-top: 30px;
    margin-right: 450px;
    padding: 15px;
    /* background-color: #fbe365; */
    border-radius: 15px;
  }

  .pets-hero-container {
    /* background-color: gray; */
    width: 100%;
    height: 150px;
    margin-top: 20px;
    display: flex;
    justify-content: left;
  }

  .hero-statement {
    margin: 1px 50px;
    font-size: 7.5rem;
  }

  .shelter-highlight {
    background-color: #fbe365;
    padding: 0 6px;
    border-radius: 15px;
  }

  .paw-pets {
    position: absolute;
    width: 80px;
    height: 80px;
    margin-left: 800px;
    margin-top: 120px;
    transform: rotate(45deg) scale(1);
  }

  .pets-buttons-container {
    margin-top: 140px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: right;
    margin-right: 100px;
  }

  .facebook-button,
  .twitter-button {
    display: flex;
    justify-content: center;
    margin: 45px 15px;
    background-color: #fbe365;
    padding: 15px;
    border-radius: 100px;
  }

  .twitter-button {
    margin-right: 500px;
  }

  .facebook-button i,
  .twitter-button i {
    font-size: 2rem;
  }

  .facebook-button a,
  .twitter-button a {
    text-decoration: none;
    color: #454646;
  }

  .table-container {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: #fbe365;
    width: 100%;
    height: 1200px;
  }

  .pet-cards-container {
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    border: 2px solid #454646;
    border-radius: 25px;
    margin-top: 250px;
    width: 80%;
    height: 700px;
  }
}

@media screen and (min-width: 1600px) {
  .pets-statement-container {
    width: 100%;
    height: 150px;
    margin-top: 170px;
    display: flex;
    justify-content: right;
  }

  .pets-statement {
    width: 400px;
    font-size: 1.7rem;
    margin-top: 30px;
    margin-right: 450px;
    padding: 15px;
    /* background-color: #fbe365; */
    border-radius: 15px;
  }

  .pets-hero-container {
    /* background-color: gray; */
    width: 100%;
    height: 150px;
    margin-top: 20px;
    display: flex;
    justify-content: left;
  }

  .hero-statement {
    margin: 2px 50px;
    font-size: 7.5rem;
  }

  .shelter-highlight {
    background-color: #fbe365;
    padding: 0 6px;
    border-radius: 15px;
  }

  .paw-pets {
    position: absolute;
    width: 80px;
    height: 80px;
    margin-left: 800px;
    margin-top: 120px;
    transform: rotate(45deg) scale(1);
  }

  .pets-buttons-container {
    margin-top: 130px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: right;
    margin-right: 100px;
  }

  .facebook-button,
  .twitter-button {
    display: flex;
    justify-content: center;
    margin: 45px 15px;
    background-color: #fbe365;
    padding: 15px;
    border-radius: 100px;
  }

  .twitter-button {
    margin-right: 570px;
  }

  .facebook-button i,
  .twitter-button i {
    font-size: 2rem;
  }

  .facebook-button a,
  .twitter-button a {
    text-decoration: none;
    color: #454646;
  }

  .table-container {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #fbe365;
    width: 100%;
    height: 1200px;
  }

  .pet-cards-container {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    border: 2px solid #454646;
    border-radius: 25px;
    margin-top: 250px;
    width: 90%;
    height: 750px;
  }
}
